@using Blazor_Training.Data
@inject Blazor_Training.Data.WorkerService Service
@page "/"

<nav class="navbar">
	<div class="logo">PayRoll System</div>
	<div class="nav-links">
		<NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
		<NavLink href="About">About</NavLink>
	</div>
</nav>

<div class="main-layout">
	<button class="sidebarToggle" @onclick="() => sidebarVisible = !sidebarVisible">☰</button>
	<nav class="@(sidebarVisible ? "sidebar" : "sidebar collapse")">
		<NavLink class="btn btn-blue" href="add">➕Add Worker</NavLink>
		<NavLink class="btn btn-blue" href="workers">📃View Workers</NavLink>
		<NavLink class="btn btn-blue" href="overtime">Overtime Section</NavLink>
		<NavLink class="btn btn-blue" href="pension">Pension Section</NavLink>
	</nav>

	<div class="main-content">
		<h1>Welcome to the Payroll System</h1>
		<div class="stats-container">

			<NavLink class="stat-card" href="workers">
				<span class="stat-label">Total Workers</span>
				<span class="stat-number">@displayCount</span>
			</NavLink>

			<NavLink class="stat-card" href="overtime">
				<span class="stat-label">Overtime Workers</span>
				<span class="stat-number">@displayOvertime</span>
			</NavLink>

			<NavLink class="stat-card" href="workers">
				<span class="stat-label">Total Payout</span>
				<span class="stat-number">Ksh @displaySalary.ToString("N0")</span>
			</NavLink>

		</div>
		<div class="buttons">
			<NavLink class="Add" href="add">
				Register a New Worker
			</NavLink>
			<NavLink class="View" href="workers">
				View Full Workers List
			</NavLink>
		</div>
	</div>
</div>

<div class="footer">
	<div class="footer-content">
		<p>&copy; @DateTime.Now.Year <strong>PayRoll System</strong>. All rights reserved.</p>

		<p>
			Designed with ❤️ by <a href="about">Binzyy</a>
		</p>
	</div>
</div>

@code {
	bool sidebarVisible = false;

	int displayCount = 0;
	double displaySalary = 0;
	int displayOvertime = 0;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await AnimateNumbers();
		}
	}

	async Task AnimateNumbers()
	{
		var allWorkers = Service.GetAllWorkers();
		int finalCount = allWorkers.Count;
		double finalSalary = allWorkers.Sum(w => w.NetSalary);
		int finalOvertime = allWorkers.Count(w => w.overTimeHours > 0);

		for (int i = 0; i <= 50; i++)
		{
			double percentage = i / 50.0;

			displayCount = (int)(finalCount * percentage);
			displaySalary = finalSalary * percentage;
			displayOvertime = (int)(finalOvertime * percentage);
			StateHasChanged();

			await Task.Delay(20);
		}

		displayCount = finalCount;
		displaySalary = finalSalary;
		displayOvertime = finalOvertime;
		StateHasChanged();
	}
}
